.TextLabel {
    display: inline-block;
    text-align: left;
    padding: 0.5rem 0;
    font-weight: 600;
    padding-right: 0.5rem;
}

.Group-3 {
    grid-column: 1/3;
}


.TextArea{
    max-width: 90%;
    max-height: 20%;
    min-width: 90%;
    min-height: 20%;
    position: absolute;
    left: 5%;
    top: auto;
    transform: translate(0,5.5rem);
    width: 90%;
    height: 20%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.TextArea::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.TextArea::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #fdfbfb 0%, #fcfcfc 100%);
    border-radius: 20px; 
}
  
.TextArea::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #fdfbfb;  /* creates padding around scroll thumb */
}

.TextInputGroup {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.TextInput {
    padding: 0.3rem 0.4rem;
    display: inline-block;
    width: 50%;
    border-radius: 35rem;
    border: 1px solid rgb(92, 92, 92);
}

.TextInputGroup > input[name="minMax"] {
   max-width: 10rem;
}

.TextInputGroup > input[name="newLogic"] {
    position: absolute;
    left: 7.5rem;
    width: 48%;
 }

.TextInput:focus{
    box-shadow: 1px 1rem 3rem rgba(128, 128, 128, 0.103);
} 