.Header {
    text-align: center;
    padding: 0 0 2rem 0;
    color: rgb(250, 250, 250);
}

.Header > h1 {
    font-weight: 400;
    font-size: 2.5rem;
    background-image: linear-gradient(160deg, #29323c 0%, #272c31 100%);
    letter-spacing: 0.2rem;
    font-family: 'Righteous', cursive;
}